#up2{
  display: none;
}
h1{
  font-family: "Pacifico", cursive;
}
.container{
  background-color: rgb(132, 132, 167);
}
body{
  background-color: rgb(25, 25, 94);
}
label{
  font-weight: 1000;
}
#up{
  font-weight: 900;
}

  